body {
    margin: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

a.loginbtn {
    border-radius: 50px;
    width: 130px;
    display: inline-block;
    background-color: rgb(185, 129, 7);
    color: white;
    cursor: pointer;
    padding: 9px 25px;
    transition: all 0.3s ease 0s;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a.loginbtn:hover {
    background-color: rgb(148, 105, 12); 
    text-decoration: none;
    color: white;
}

a.btn-primary:hover {
    background-image: linear-gradient(to right, #e4c859,#bba231);
}

.sticky {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: white;
  position: fixed;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.container-fluid.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
    padding: .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: inherit;
    opacity: 1;
}
  
.sticky + .content {
    padding-top: 60px;
}

.container-fluid {
    transition: all 0.3s ease 0s;
    box-sizing: inherit;
    overflow: hidden;
}

.content {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wallpaper.png);
    background-size: cover;
    margin: auto;
}

#title {
    font-size: 36px;
    color: #fff;
    padding-left: 4%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-position: 50% 100%;
}

